{% extends "base.twig" %}

{% block title %}
    <title>Ajouter une réservation</title>
{% endblock %}

{% block body %}
    <h1>Ajouter une Réservation</h1>

    <section id="add-booking-form" class="home-section paddingtop-120">
        <div class="container">
            <div class="row">
                <form method="post" action="/booking">
                    
                    <div class="form-group">
                        <label for="book_date">Date</label>
                        <input type="date" class="form-control" id="book_date" name="book_date" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="service_id">Service</label>
                        <select class="form-control" id="service_id" name="service_id" required>
                            {% for service in services %}
                                <option value="{{ service.id }}">{{ service.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="book_time">Heure</label>
                        <select class="form-control" id="book_time" name="book_time" required>
                            {% for hour in range(9, 18) %}
                                {% for minute in [0, 30] %}
                                    {% set time = "%02d:%02d" | format(hour, minute) %}
                                    {% if time != '18:30' %}
                                        <option value="{{ time }}">{{ time }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>

                {% if error_message is defined %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
