{% extends "base.twig" %}

{% block title %}
    <title>Modifier Réservation</title>
{% endblock %}

{% block body %}
    <h1>Modifier Réservation</h1>

    <section id="intro" class="intro">
        <div class="intro-content">
            <div class="container">
                <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                    <h4 class="h-ultra">Éditer votre rendez-vous</h4>
                </div>
                
                <div class="well well-trans">
                    <div class="wow fadeInRight" data-wow-delay="0.1s">
                        <form method="post" action="/savebooking/{{ booking.id }}">
                            <input type="text" name="id" value="{{ booking.id }}" readonly>
                            <label>Mail du Patient:</label>
                            <input type="text" name="mail" value="{{ booking.book_email }}" readonly>

                            <label>Date:</label>
                            <input type="date" name="date" value="{{ booking.date_book | date('Y-m-d') }}" >

                            <label>Heure:</label>
                            <input type="time" name="time" value="{{ booking.date_book | date('H:i') }}" >

                            <label>Confirmation:</label>
                            <select name="isConfirm">
                                <option value="1" {% if booking.isConfirm == 1 %} selected {% endif %}>Confirmé</option>
                                <option value="0" {% if booking.isConfirm == 0 %} selected {% endif %}>Non confirmé</option>
                            </select>

                            <button type="submit">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
